//
   Created by cepe6 on 04.05.17.
extends ../layouts/layout

block content
    h1= title
    p Welcome to #{title}
    form#formAddUser(method="post" action="/accounting/signup")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="password", placeholder="userpass", name="userpass")
        button#btnSubmit(type="submit") submit
