body {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

#body-wrapper {
}

#body {
  width: 80%;
  margin: 0 auto;
}

.bordering {
  border: 1px solid black;
}

#wrapper {
  width: 80%;
  margin: 60px auto;
  padding: 20px;
}

.sign-button {
  background-color: #1E4369;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #1E4369;
  display: inline-block;
  cursor: pointer;
  color:#ffffff;
  font-size: 17px;
  padding: 15px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}

#profile-header {
    display: inline-block;
    height: 150px;
}

.profile-name {
    position: relative;
    display: inline-block;
    width: 300px;


    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;

    color: #1E4369;

    font-size: 20px;
    line-height: 100%;
    vertical-align: top;

}

.profile-points {

    display: inline-block;

    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;

    color: #1E4369;

    font-size: 15px;
    line-height: 100%;
}

#profile-picture-page {
    width: 150px;
    height: 150px;
    vertical-align: top;
    float: left;
}

.account-header {
    margin: 0 auto;
}

.welcome-page-div {
    height: 250px;
    border: 1px solid white;
}

.welcome-text-span {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;

    color: #1E4369;

    width: 48%;

    margin-top: 60px;
    font-size: 40px;
    text-align: center;

    line-height: 90%;

}

#welcome-page-image {
    vertical-align: top;
    width: 400px;
    height: 100%;
}

#welcome-page-header-img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

#acc-info {
    margin: 0 auto;
}