doctype
html
  head
    title= title
    link(rel='stylesheet', href='./style/style.css')
    link(rel='stylesheet', href='./style/header.css')
    link(rel='stylesheet', href='./style/account-form.css')
  body
    div#overlay
        div#account-form
            div#register.account-split
                form#registration-form(role='form' action="signUpPost()" method="post" style='max-width: 300px;')
                    label.account-label Sign Up
                    hr.account-hr
                    input#reg-username.form-control(type='text' name="username" placeholder='Enter Username')
                    input#reg-password.form-control(type='password' name="password" placeholder='Password')
                    button.sign-button.account-sign-up-button(type='submit') Submit
            div#login.account-split
                img#close-account-form(src="images/x.png" onclick="closeAccountForm()")
                form#login-form(action="/accounting/login")
                    label.account-label Log In
                    hr.account-hr
                    input(type="text" placeholder="Username")
                    input(type="password" placeholder="Password")
                    button(type="submit" style="margin-top: 10px").sign-button.account-sign-in-button Sign In


      header#header-wrapper
        div#header
            a(href="/")
              img#logo(src='./images/logo.png')
            nav#navigation
                ul
                  li
                    a(href="/forum") Forum
                  li
                    a(href="/tutorials") Tutorials
                  li
                    a(href="/freelance") Freelance jobs
                  li
                    a(href="/community") Community
                  li
                    a(href="/jobs") Find job
            div#account
              img#account-img(src="./images/account.png" onclick="showAccountForm()")
    section#wrapper
      block content
  script(src="./js/account.js")
  script(src='https://www.google.com/recaptcha/api.js')
